node_modules
admin
.git
.env
npm-debug.log
Dockerfile
Jenkinsfile
monitoring
docs
nginx
security
README.md
helm
terrafrom
docker-compose.dev.yml
docker-compose.prod.yml 
docker-compose.monitoring.yml
client/Build    
